span {
  font-family: 'Roboto', sans-serif !important;
  /* font-family: 'Open Sans', sans-serif; */
  /* color: #346285 !important; */
  color: white !important;
}

a {
  text-decoration: none !important;
}

/* Top navigation bar for full display */

.nav-primary {
  /* background-color: #ffd54f; */
  /* background-color: #d7ccc8; */
  /* background-color: #C9FFE8; */
  background-color: lightblue;
}

.material-icons{
  color: #000a12;
}

/* Navigation styling for full display */
.mdl-menu__item:hover {
  /* background-color: #dce775; */
  background-color: #C3C7F3;
}

.mdl-navigation__link {
  font-size: 18px;
}

/* End Navigation for full display */

/* Mobile side bar */
.mdl-navigation__link:hover {
  /* background-color: #C3C7F3 !important; */
  background-color: #eba487 !important;
}

.user-info-icon-bg {
  background-color: #C9FFE8;
  z-index: 2;
}

.user-info-name-bg {
  background-color: #b4b5e5;
  z-index: 1;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0px;
}

/* End mobile side bar */

/* Testing for image ratio */

.caption div {
  box-shadow: 0 0 5px #C8C8C8;
  transition: all 0.3s ease 0s;
}
.img-circle {
  border-radius: 50%;
}
.img-circle {
  border-radius: 0;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.img-circle {
  border-radius: 50%;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.user-info-center {
  display: block;
  margin: 0 auto;
  padding-top:2vh;
  padding-bottom:3vh;
}
.user-icon-compress {
  width: 50%;
}

/* Ending test */

/* Sample for mdl-layout-spacer */
.mdl-cell {
  box-sizing: border-box;
  /* background-color: #BDBDBD; */
  /* height: 200px; */
  height:auto;
  /* padding-right:2px;
  padding-left: 2px;
  padding-top: 4px; */
  color: white;
}
/* End Sample */

/* My Walks Layout */

/* @import "compass/css3"; */

/* @import url("https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"); */
/* @import url("https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"); */

.my-walks-listing-heading {
  background-color: lightblue;
  color: white;
  text-align: center;
  /* padding: 20px 0; */
  position: relative;
}

.my-walks-listing-heading::before,
.my-walks-listing-heading::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: lightblue;
  display: block;
  left: 0;
  position: absolute
}

.my-walks-listing-heading::before {
  top: -6px;
}

.my-walks-listing-heading::after {
  bottom: -6px;
}

.my-walks-listing-main {
  width: 100%;
  /* height: auto; */
}

.my-walks-listing-more-info {
  padding: 0 !important;
}


/* End My Walks Layout */

/* Material design object shadows */

.material-1dp {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); for the hover transition */
}

/* .material-1dp:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.material-2dp {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.material-3dp {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.material-4dp {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.material-5dp {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.material-16dp {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
}

/* Screen size triggers */
@media only screen and (min-width:1025px){
  .mdl-layout__drawer-button {
    display: none;
  }
}