<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    	<form action="">
    		<h3>Add a Pupper!</h3>
    		<label for="dogName" id="dogNameLbl">Email</label>
    		<input type="text" id="dogName">
    		<br>
    		<label for="breedIn" id="breedlbl">Breed</label>
    		<input type="text" id="breed">
    		<br>
    		<label for="sexIn" id="maleSexIn">Male</label>
            <input type="radio" id="maleSexIn" name="sexIn">
            <label for="sexIn" id="maleSexIn">Female</label>
    		<input type="radio" id="femaleSexIn" name="sexIn">
    		<br>
    		<button type="submit" id="registerBtn">Add Pupper</button>
    		<br>
    	</form>
    </div>
  </body>
</html>
