<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    	<form action="">
    		<h3>Add a Friend for your Pupper!</h3>
    		<label for="yourDogIn" id="yourDogInLbl">Your Dog's ID</label>
    		<input type="text" id="yourDogIn">
    		<br>
    		<label for="theirDogIn" id="theirDogInLbl">Their Dog's In</label>
    		<input type="text" id="theirDogIn">
            <br>
    		<button type="submit" id="registerBtn">Request Friend!</button>
    	</form>
    </div>
  </body>
</html>
