<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form action="">
   		<h1>Please log into Puppy Walk!</h1>
		<label for="emailIn" id="emailInLbl">Email</label>
		<input type="text" id="emailIn">
		<br>
		<label for="passwdIn" id="passwd1lbl">Password</label>
		<input type="password" id="passwdIn">
	</form>

	<a href="signup">Don't have an account? Sign up now!</a>
  </body>
</html>
