<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    	<form action="">
    		<h3>Sign Up for Puppy Walk!</h3>
    		<label for="emailIn" id="emailInLbl">Email</label>
    		<input type="text" id="emailIn">
    		<br>
    		<label for="passwd1" id="passwd1lbl">Password</label>
    		<input type="password" id="passwd1">
    		<br>
    		<label for="passwd2" id="passwd2lbl">Confirm Password</label>
    		<input type="password" id="passwd2">
    		<br>
    		<button type="submit" id="registerBtn">Sign Up</button>
    		<br>
    	</form>
    </div>
  </body>
</html>
