<link rel="stylesheet" href="/public/css/navigation.css"/>

<nav class="navbar navbar-inverse navbar-fixed-top puppy-navbar-main">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu list-group settings-dropdown">
                    <li class="list-group-item">
                        Offline
                        <div class="material-switch pull-right">
                            <input id="toggleGPS" name="toggleGPS" type="checkbox"/>
                            <label for="toggleGPS" class="label-warning"></label>
                        </div>
                    </li>
                </ul>   
            </li>
        </ul>
    </div>
</nav>