<link rel="stylesheet" href="/public/css/navigation.css"/>

<nav class="navbar navbar-default navbar-fixed-top puppy-navbar-main">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>