<link rel="stylesheet" href="/public/css/navigation.css"/>
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
    <div id="content">>
        <!-- left nav top -->
        <ul class="nav navbar-nav pull-left">
            <li><a href="#"><span class="glyphicon glyphicon-thumbs-up text-white"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-globe text-white"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-pushpin text-white"></span></a></li>
            <li><a href="#"><span class="text-white">QUESTIONS? CALL: <b>+963000000000</b></span></a></li>
        </ul>
        <!-- right nav top -->
        <ul class="nav navbar-nav pull-right">
            <li><a href="#" class="text-white">About Us</a></li>
            <li><a href="#" class="text-white">Contact Us</a></li> 
        </ul>        
        <button type="button" data-toggle="collapse" href="" #collapseSideBar id="sidebarCollapse" class="btn btn-info navbar-btn">
            Toggle
        </button>
    </div>
</nav>
