<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Palanquin:500,700" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/sidebar.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.panel-collapse').collapse('show');
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('.panel-collapse').collapse("toggle");
            });

        });
    </script>
</head>

<body>
    <div class = "wrapper">
        <nav id = "sidebar">
            <div class = "sidebar-header">
                <h3>Dogs on the Prowel</h3>
                <stong>P.W</stong>
                <!-- strong should have puppy walk logo-->
            </div>

            <div class="panel-group center-panel">
                <!--Section for known friends-->
                <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
                    <div class="panel-heading puppy-friend">
                        Friends
                    </div>
                    <div class="panel-body panel-collapse">
                        <ul class="list-group components" id="puppyFriendsList">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="../../public/img/icon_holder.png" class="img-rounded" width="auto" height="50px">
                                    </div>
                                    <!--<div class="col-sm-1"></div>-->
                                    <div class="col-sm-4">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            <!--{Dogs Sex}-->
                                            Male
                                        </p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="list-group-item-text">
                                            <!--{dog size}-->
                                            <img src="../../public/img/dogChart.jpg" class="img-rounded" width="auto" height="50px">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Section for potential friends-->
                <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
                    <div class="panel-heading puppy-potential">
                        Potential Friends
                    </div>
                    <div class="panel-body panel-collapse">
                        <ul class="list-group components" id="puppyPotentialList">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Section for dog warnings-->
                <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
                    <div class="panel-heading puppy-warning">
                        Warnings
                    </div>
                    <div class="panel-body panel-collapse">
                        <ul class="list-group components" id="puppyWarningsList">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            {Puppy Bio!}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Current dogs bio -->
                <div class="panel panel-default" data-toggle="collapse" aria-expanded="true">
                    <div class="panel-heading my-puppy-bio">
                        {Dogs name}'s Bio
                    </div>
                    <div class="panel-body panel-collapse">
                        <ul class="list-group components" id="puppyStatListing">
                            <li class="list-group-item">
                                <div class = "row">
                                    <div class="col-sm-7">
                                        <p class="list-group-item-heading">
                                            Boop
                                        </p>
                                        <p class="List-group-item-text">
                                            {Dogs Sex}
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p class="list-group-item-text">
                                            {dog size}
                                        </p>
                                        <p class="list-group-item-text">
                                            {Distance traveled}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="list-group-item-bio">
                                            <!--{Puppy Bio!}-->
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </nav>

        <div id="content">
            <button type="button" data-toggle="collapse" href=""#collapseSideBar id="sidebarCollapse" class="btn btn-info navbar-btn">
                Toggle
            </button>
        </div>
    </div>
</body>